.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  /* border: 1px solid var(--dark-color);
  background-color: var(--background-color); */
  border: 1px solid #cecece;
  padding: 20px 5px 18px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  /* width: 100%;
  aspect-ratio: 4 / 3; */
  max-height: 184px;
  object-fit: contain;
}

.cards.tips.block > ul {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.cards.tips.block {
  text-align: left;
}

.cards.tips.block h4 {
  font-size: 21px;
  font-weight: bold;
  color: #444444;
}

.cards.tips.block > ul > li {
  padding: 0;
}

.cards.tips.block > ul > li img {
  object-fit: cover;
  width: 100%;
}